<suite name="test-suite">

<test name= "tests">

         
  
	 <classes>
	   <class name="Maven.Login"/>
	   <class name="Maven.Forgotpassword"/>
	    <class name="Maven.HCcreate"/>
	    <class name="Maven.Driverinvite"/>
	    <class name="Maven.Createjob"/>
	    <class name="Maven.Rateupdate"/>
	    <class name="Maven.Dashboard"/>
	    <class name="Maven.JobToScheduleFilter"/>
	    
     </classes>
   </test>
</suite>
